@tailwind base;
@tailwind components;
@tailwind utilities;

/* CUSTOM SCROLLBAR */
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #6b6b6b36;
}

.dark ::-webkit-scrollbar-track {
	background: #ffffff38;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #000000;
	@apply rounded;
}

.dark ::-webkit-scrollbar-thumb {
	background: #ffffff;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0000007c;
}

.dark ::-webkit-scrollbar-thumb:hover {
	background: #ffffffc9;
}
@layer base {
	html, body, #root, .App {
		font-family: 'Roboto';
		min-width: 300px;
		overflow-x: auto;
		width: 100%;
		height: 100%;
		@apply text-content bg-body-light dark:bg-body-dark;
	};
	.bg-primary {
		@apply bg-primary-light dark:bg-primary-dark;
	};
	.bg-primary-selected {
		@apply bg-primary-selected-light dark:bg-primary-selected-dark;
	};
	.bg-primary-hover {
		@apply bg-primary-hover-light dark:bg-primary-hover-dark;
	};
	.bg-secondary {
		@apply bg-secondary-light dark:bg-secondary-dark;
	};
	.bg-secondary-selected {
		@apply bg-secondary-selected-light dark:bg-secondary-selected-dark;
	};
	.bg-secondary-hover {
		@apply bg-secondary-hover-light dark:bg-secondary-hover-dark;
	};
	.bg-head-bar {
		@apply bg-body-light dark:bg-body-dark;
	};
	.bg-page {
		@apply bg-body-light dark:bg-body-dark;
	};
	.bg-container {
		@apply bg-container-light dark:bg-container-dark;
	};
	.text-head-bar {
		@apply text-title-light dark:text-title-dark;
	};
	.text-primary {
		@apply text-primary-text-light dark:text-primary-text-dark;
	};
	.text-primary-selected {
		@apply text-primary-selected-text-light dark:text-primary-selected-text-dark;
	};
	.text-title {
		@apply text-title-light dark:text-title-dark;
	};
	.text-content {
		@apply text-content-light dark:text-content-dark;
	};
    h1, h2, h3, h4 {
        @apply font-bold;
        @apply text-title;
    };
    h1 {
        @apply text-4xl;
    };
    h2 {
        @apply text-3xl;
    };
    h3 {
        @apply text-2xl;
    };
    h4 {
        @apply text-xl;
    };
    p {
        @apply text-base font-normal leading-relaxed;
    };
    .container {
        @apply p-2 rounded-xl;
    };
}
